body,
a,
div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
img,
label,
input,
form,
header,
nav,
section,
article,
button,
footer,
main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    width: 600px;
    margin: 50px auto;
    padding: 0 50px;
    border: 1px solid black;
}

.current-tasks{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}


.current-tasks h2 {
    text-align: center;
    padding: 16px 0;
}


.add-new-task {
    margin: 10px 0;
    display: flex;
}

.add-new-task p {
    margin: 0;
    font-size: 25px;
    padding: 0px 6px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}

.add-new-task input {
    display: none;
    margin-left: 10px;
}

#to-do-list, #completed-tasks {
    width: 100%;
    margin: 20px 0;
}

#to-do-list li, #completed-tasks li {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

#to-do-list li input, #completed-tasks li input{
    width: 18px;
    height: 18px;
}

#to-do-list li p, #completed-tasks li p {

    font-size: 18px;
    padding: 0 15px;
}

#to-do-list li button, #completed-tasks li button {
    padding: 0px 3px;
}


.completed-tasks h2{
    text-align: center;
    padding-bottom: 16px;
}

#plural{
    display: none;
}

#completed-tasks li p{
    text-decoration: line-through;
}