body,
a,
div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
img,
label,
input,
form,
header,
nav,
section,
article,
button,
footer,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

main{
    width: 600px;
    margin: 100px auto;
    border: 1px solid black;
}

.add-tasks h2{
    text-align: center;
}

.add-tasks button{
    margin-left: 20px;
    padding: 1px 5px;
}

.add-tasks input{
    display: none;
}

#current-plural, #finished-plural{
    display: none;
}